<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="databaseUtil" class="com.epam.jmp.jdbc.DatabaseUtil">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean class="com.epam.jmp.jdbc.dao.JdbcUserDAO" id="jdbcUserDAO">
        <property name="dataSource" ref="dataSource"/>
    </bean>
</beans>